.header {
  position: relative;
  z-index: 1001;
  margin-top: var(--preview-height, 0px) !important;
  width: 100%;
}

.header-sticky {
  position: fixed;
  top: var(--header-transform, 0px);
  left: 0;
  right: 0;
	transition: top var(--animation-duration) var(--transition-function-ease-in-out);
}

.header__content {
  color: var(--color-primary);
  background: var(--background-primary);
  border-bottom: 1px solid var(--color-border);
}

.header__content--padding-top {
  padding-top: var(--padding-top-mobile);
}

.header__content--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile);
}

.header__logo-wrapper {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  grid-area: logo;
}

.header__logo-wrapper:not(:last-child) {
  padding-right: 16px;
}

.header__logo-text {
  font-size: 24px;
  line-height: var(--font-height-md);
  font-weight: var(--font-weight-semibold);
  margin: 0;
  color: currentColor;
}

.header__logo-image {
  max-height: 64px;
  max-width: 100%;
}

.header__search {
  grid-area: search;
}

.header__cart {
  min-width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: cart;
}

.header__cart .fa-spinner-third {
  color: var(--color-primary);
}

.header__menu {
  grid-area: menu;
}

.header__content-inner {
  gap: 0px 8px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr max-content max-content max-content;
  grid-template-areas:
    "logo search cart menu";
}

.header__mobile-menu-opener-left {
  grid-template-columns: max-content 1fr max-content max-content;
  grid-template-areas:
    "menu logo search cart";
}

.header__content-inner > .header__support,
.header__content-inner > .header__menu-third {
  display: none;
}

.header__content-inner .header__cart:last-child,
.header__content-inner.header__mobile-menu-opener-left .header__cart:nth-last-child(2) {
  margin-right: -7px;
}

.header__mobile-menu-opener-left .header__logo-wrapper {
  justify-content: center;
}

.header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__menu) {
  padding-left: 10px;
  padding-right: calc(var(--header-icon-width) + var(--header-gap-sm) + 10px);
}

.header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search),
.header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__cart) {
  padding-left: 11px;
  padding-right: 10px;
}

.header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search + .header__cart) {
  padding-left: calc(var(--header-icon-width) + var(--header-gap-sm) + 3px);
  padding-right: 10px;
}

header:has(.app-mobile) .header__app:has(.app-desktop) {
  display: none;
}

.header__app:has(.app-mobile) {
  display: block;
  padding: 20px 0 50px;
}

@media (min-height: 576px) {
  body:has(.header-sticky) div[data-tippy-root]:has([data-tid="Mini cart"])  {
    top: calc(var(--top-bar-height, 0px) + 24px + 48px) !important;
  }
}

@media (min-width: 1100px) {
  .header__inner:has(.header__menu),
  .header__inner:has(.header__menu-second),
  .header__inner:has(.header__menu-third) {
    position: relative;
  }

  .header__inner:has(.header__menu):after,
  .header__inner:has(.header__menu-second):after,
  .header__inner:has(.header__menu-third):after {
    --header-icon-height: 48px;

    content: "";
    position: absolute;
    bottom: calc(var(--padding-bottom) + var(--header-icon-height) + var(--padding-top));
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--color-border);
    transform: translate(0, 50%);
  }

  .header__inner:has(.header__menu-second):not(:has(.header__menu)):after,
  .header__inner:has(.header__menu-third):not(:has(.header__menu:last-child)):after {
    --header-icon-height: 18px;
  }

  .header__content {
    --menus-gap-y: calc(var(--padding-top) + var(--padding-bottom));
  }

  .header__content--padding-top {
    padding-top: var(--padding-top);
  }

  .header__content--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }

  .header__content-inner {
    gap: 0px var(--header-gap-md);
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content max-content;
    grid-template-areas: none;
    grid-template-rows: auto auto;
  }

  .header__logo-wrapper,
  .header__mobile-menu-opener-left .header__logo-wrapper {
    justify-content: flex-start;
    grid-column: 1;
    grid-row: 1;
  }

  .header__logo-wrapper:has(+ .header__search),
  .header__logo-wrapper:has(+ .header__cart),
  .header__logo-wrapper:has(+ .header__search + .header__cart),
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search),
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__cart),
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search + .header__cart) {
    padding-left: 0;
    padding-right: 0;
  }

  .header__cart,
  .header__mobile-menu-opener-left .header__cart {
    grid-column: 5;
    grid-row: 1;
  }

  .header__content-inner.header__mobile-menu-opener-right .header__cart:nth-last-child(2) {
    margin-right: -7px;
  }

  .header__menu,
  .header__mobile-menu-opener-left .header__menu {
    grid-column: 1;
    grid-row: 2;
    display: inline-flex;
    justify-content: flex-start;
    margin-top: var(--menus-gap-y);
    padding-right: clamp(16px, 2.2vw, 50px);
  }

  .header__menu-secondary {
    grid-column: 1 / span 2;
    grid-row: 2;
    margin-top: var(--padding-top);
  }

  .header__content-inner:has(.header__menu) .header__menu-secondary {
    grid-column: 2;
  }

  .header__content-inner:not(:has(.header__cart)):not(:has(.header__support)):not(:has(.header__app)) .header__menu-secondary {
    grid-column: 2 / span 4;
  }

  .header__content-inner:not(:has(.header__menu)):not(:has(.header__cart)):not(:has(.header__support)):not(:has(.header__app)) .header__menu-secondary {
    grid-column: 1 / span 5;
  }

  .header__search,
  .header__mobile-menu-opener-left .header__search {
    grid-column: 2;
    grid-row: 1;
  }

  .header__menu-third,
  .header__mobile-menu-opener-left .header__menu-third {
    grid-column: 3 / span 3;
    grid-row: 2;
    margin-top: var(--menus-gap-y);
  }

  .header__content-inner:not(:has(.header__cart)):not(:has(.header__support)):not(:has(.header__app)) .header__menu-third,
  .header__mobile-menu-opener-left:not(:has(.header__cart)):not(:has(.header__support)):not(:has(.header__app)) .header__menu-third {
    grid-row: 1;
    margin: 0 0 0 16px;
  }

  .header__support,
  .header__mobile-menu-opener-left .header__support {
    grid-column: 4;
    grid-row: 1;
  }

  .header__content-inner:not(:has(.header__cart)) .header__support,
  .header__mobile-menu-opener-left:not(:has(.header__cart)) .header__support {
    grid-column: 5;
    justify-content: flex-end;
  }

  .header__content-inner:not(:has(.header__cart)) .header__support-wrapper:not(:has(.header__support-opener)),
  .header__mobile-menu-opener-left:not(:has(.header__cart)) .header__support-wrapper:not(:has(.header__support-opener)) {
    text-align: right;
  }

  .header__menu .header__support {
    display: none;
  }

  .header__content-inner > .header__support,
  .header__content-inner > .header__menu-third {
    display: block;
  }

  .header__app:has(.app-desktop) {
    grid-column: 3;
    grid-row: 1;
  }

  .header__app:has(.app-mobile) {
    display: none;
  }

  header:has(.app-mobile) .header__app:has(.app-desktop) {
    display: block;
  }

  .header__content-inner:has(.header__cart):not(:has(.header__support)) .header__app,
  .header__content-inner:has(.header__support):not(:has(.header__cart)) .header__app,
  .header__mobile-menu-opener-left:has(.header__cart):not(:has(.header__support)) .header__app,
  .header__mobile-menu-opener-left:has(.header__support):not(:has(.header__cart)) .header__app {
    grid-column: 4;
  }

  .header__content-inner:not(:has(.header__cart)):not(:has(.header__support)) .header__app,
  .header__mobile-menu-opener-left:not(:has(.header__cart)):not(:has(.header__support)) .header__app {
    grid-column: 5;
  }
}

@media (min-width: 1200px) {
  .header__content-inner {
    gap: 0px var(--header-gap-lg);
  }

  .header__logo-wrapper:has(+ .header__search),
  .header__logo-wrapper:has(+ .header__cart),
  .header__logo-wrapper:has(+ .header__search + .header__cart),
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search),
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__cart),
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search + .header__cart) {
    padding-right: 22px;
  }
}
