.header {
  --header-logo-padding: 10px;
  --header-icon-right-margin: 7px;

  position: relative;
  z-index: 1001;
  margin-top: var(--preview-height, 0px) !important;
  width: 100%;
}

.header-sticky {
  position: fixed;
  top: var(--header-transform, 0px);
  left: 0;
  right: 0;
	transition: top var(--animation-duration) var(--transition-function-ease-in-out);
}

.header__content {
  color: var(--color-primary);
  background: var(--background-primary);
  border-bottom: 1px solid var(--color-border);
}

.header__content--padding-top {
  padding-top: var(--padding-top-mobile);
}

.header__content--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile);
}

.header__logo-wrapper {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__logo-wrapper:not(:last-child) {
  padding-right: var(--header-logo-padding);
}

.header__logo-text {
  font-size: 24px;
  line-height: var(--font-height-md);
  font-weight: var(--font-weight-semibold);
  margin: 0;
  color: currentColor;
}

.header__logo-image {
  max-height: 64px;
  max-width: 100%;
  width: auto;
}

.header__search,
.header__quick-menu,
.header__menu,
.header__content-inner > .header__menu-third {
  display: none;
}

.header__content-inner .header__search:last-child,
.header__search:nth-last-child(4):has(+ .header__quick-menu):not(:has(+ .header__quick-menu .header__quick-menu-opener)),
.header__search:nth-last-child(3):has(+ .header__quick-menu):not(:has(+ .header__quick-menu .header__quick-menu-opener)) {
  margin-right: calc(-1 * var(--header-gap-sm));
}

.header__mobile-menu-opener-left .header__search:nth-last-child(2) {
  margin-right: calc(-1 * var(--header-gap-sm));
}

.header__mobile-menu-opener-left .header__search:nth-last-child(2) .search-form__wrapper {
  right: var(--horizontal-padding-mobile);
}

.header__cart {
  min-width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.header__cart .fa-spinner-third {
  color: var(--color-primary);
}

.header__content-inner {
  gap: 0px var(--header-gap-sm);
}

.header__content-inner:has(.header__menu) > .header__menu {
  display: block;
}

.header__content-inner:has(.header__search) > .header__search,
.header__content-inner:has(.header__cart) > .header__cart,
.header__content-inner:has(.header__quick-menu-opener) > .header__quick-menu {
  display: flex;
}

header:has(.app-mobile) .header__app:has(.app-desktop) {
  display: none;
}

.header__app:has(.app-mobile) {
  display: block;
  padding: 20px 0 50px;
}

@media (max-width: 1099px) {
  .header__logo-wrapper {
    order: 1;
    flex-grow: 1;
  }

  .header__search {
    order: 2;
  }

  .header__cart {
    order: 4;
  }

  .header__menu {
    order: 5;
  }

  .header__content-inner {
    display: flex;
    align-items: center;
  }

  .header__content-inner > .header__quick-menu {
    order: 3;
  }

  .header__content-inner .header__search:last-child,
  .header__content-inner:not(:has(.header__quick-menu-opener)):has(.header__quick-menu:last-child) .header__search:nth-last-child(2),
  .header__content-inner .header__quick-menu:last-child,
  .header__content-inner .header__cart:last-child {
    margin-right: calc(-1 * var(--header-icon-right-margin));
  }

  .header__mobile-menu-opener-left .header__menu {
    order: 1;
  }

  .header__mobile-menu-opener-left .header__search {
    order: 3;
  }

  .header__mobile-menu-opener-left > .header__quick-menu {
    order: 4;
  }

  .header__mobile-menu-opener-left .header__cart {
    order: 5;
  }

  .header__mobile-menu-opener-left .header__logo-wrapper {
    order: 2;
    justify-content: center;
    padding: 0 calc(var(--header-logo-padding) + var(--header-icon-right-margin) / 2) 0 var(--header-logo-padding);
  }

  .header__mobile-menu-opener-left:has(.header__quick-menu):not(:has(.header__quick-menu-opener)) .header__logo-wrapper {
    padding-right: calc(var(--header-logo-padding) + var(--header-icon-right-margin) / 2 - var(--header-gap-sm));
  }

  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search + .header__quick-menu + .header__cart):not(:has(+ .header__search + .header__quick-menu .header__quick-menu-opener)),
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search + .header__cart) {
    padding-right: var(--header-logo-padding);
    padding-left: calc(var(--header-icon-width) + var(--header-gap-sm) + var(--header-logo-padding) - var(--header-icon-right-margin));
  }

  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search + .header__quick-menu + .header__cart):has(+ .header__search + .header__quick-menu .header__quick-menu-opener) {
    justify-content: flex-start;
  }

  .header__mobile-menu-opener-left:has(.header__logo-wrapper + .header__search + .header__quick-menu + .header__cart) .header__cart:nth-last-child(2),
  .header__mobile-menu-opener-left:has(.header__logo-wrapper + .header__search + .header__cart) .header__cart:nth-last-child(2),
  .header__mobile-menu-opener-left:has(.header__quick-menu-opener) .header__quick-menu:nth-last-child(2) {
    margin-right: calc(-1 * var(--header-icon-right-margin));
  }
}

@media (min-width: 480px) and (max-width: 1099px) {
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search + .header__quick-menu + .header__cart):has(+ .header__search + .header__quick-menu .header__quick-menu-opener) {
    justify-content: center;
    padding-right: var(--header-logo-padding);
    padding-left: calc(var(--header-icon-width) * 2 + var(--header-gap-sm) * 2 - var(--header-icon-right-margin));
  }
}

@media (min-width: 576px) {
  body:has(.header-sticky) div[data-tippy-root]:has([data-tid="Mini cart"])  {
    top: var(--header-height) !important;
  }
}

@media (min-width: 1100px) {
  body:has(.header-sticky) div[data-tippy-root]:has([data-tid="Mini cart"]),
  .scrolled-down:has(.header-sticky) div[data-tippy-root]:has([data-tid="Mini cart"]) {
    top: calc(var(--top-bar-height, 0px) + 36px + 48px + var(--header-transform, 0px)) !important;
  }

  .header__inner:has(.header__menu),
  .header__inner:has(.header__menu-secondary),
  .header__inner:has(.header__menu-third) {
    position: relative;
  }

  .header__inner:has(.header__menu):after,
  .header__inner:has(.header__menu-secondary):after,
  .header__inner:has(.header__app ~ .header__menu-third):after,
  .header__inner:has(.header__menu-third ~ .header__cart):after,
  .header__inner:has(.header__menu-third ~ .header__quick-menu):after {
    --header-icon-height: 48px;

    content: "";
    position: absolute;
    bottom: calc(var(--padding-bottom) + var(--header-icon-height) + var(--padding-top));
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--color-border);
    transform: translate(0, 50%);
  }

  .header__inner:has(.header__menu-secondary):not(:has(.header__menu)):after,
  .header__inner:has(.header__menu-third):not(:has(.header__menu:last-child)):after {
    --header-icon-height: 18px;
  }

  .header__content {
    --menus-gap-y: calc(var(--padding-top) + var(--padding-bottom));
  }

  .header__content--padding-top {
    padding-top: var(--padding-top);
  }

  .header__content--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }

  .header__content-inner {
    gap: 0px var(--header-gap-md);
    align-items: center;
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content max-content max-content;
    grid-template-rows: auto auto;
  }

  .header__logo-wrapper {
    justify-content: flex-start;
    grid-column: 1;
    grid-row: 1;
  }

  .header__cart {
    grid-column: 6;
    grid-row: 1;
  }

  .header__menu {
    grid-column: 1;
    grid-row: 2;
    display: inline-flex;
    justify-content: flex-start;
    margin-top: var(--menus-gap-y);
    padding-right: clamp(16px, 2.2vw, 50px);
  }

  .header__menu-secondary {
    grid-column: 1 / span 2;
    grid-row: 2;
    margin-top: var(--padding-top);
  }

  .header__content-inner:has(.header__menu) .header__menu-secondary {
    grid-column: 2;
  }

  .header__content-inner:not(:has(.header__cart)):not(:has(.header__quick-menu)):not(:has(.header__app)) .header__menu-secondary {
    grid-column: 2 / span 5;
  }

  .header__content-inner:not(:has(.header__menu)):not(:has(.header__cart)):not(:has(.header__quick-menu)):not(:has(.header__app)) .header__menu-secondary {
    grid-column: 1 / span 6;
  }

  .header__content-inner .header__cart:last-child,
  .header__content-inner .header__cart:nth-last-child(2),
  .header__content-inner:has(.header__quick-menu-opener) .header__quick-menu:last-child,
  .header__mobile-menu-opener-right .header__search:nth-last-child(2),
  .header__content-inner .header__cart:last-child {
    margin-right: calc(-1 * var(--header-icon-right-margin));
  }

  .header__search {
    grid-column: 2;
    grid-row: 1;
  }

  .header__menu-third {
    grid-column: 3 / span 4;
    grid-row: 2;
    margin-top: var(--menus-gap-y);
  }

  .header__content-inner:not(:has(.header__cart)):not(:has(.header__quick-menu)):not(:has(.header__app)) .header__menu-third,
  .header__mobile-menu-opener-left:not(:has(.header__cart)):not(:has(.header__quick-menu)):not(:has(.header__app)) .header__menu-third {
    grid-row: 1;
    margin: 0 0 0 16px;
  }

  .header__quick-menu {
    grid-column: 5;
    grid-row: 1;
  }

  .header__content-inner:not(:has(.header__cart)) .header__quick-menu {
    grid-column: 6;
    justify-content: flex-end;
  }

  .header__menu .header__quick-menu {
    display: none;
  }

  .header__content-inner > .header__menu-third {
    display: block;
  }

  .header__app:has(.app-desktop) {
    grid-column: 4;
    grid-row: 1;
  }

  .header__app:has(.app-mobile) {
    display: none;
  }

  header:has(.app-mobile) .header__app:has(.app-desktop) {
    display: block;
  }

  .header__content-inner:has(.header__cart):not(:has(.header__quick-menu)) .header__app,
  .header__content-inner:has(.header__quick-menu):not(:has(.header__cart)) .header__app {
    grid-column: 5;
  }

  .header__content-inner:not(:has(.header__cart)):not(:has(.header__quick-menu)) .header__app {
    grid-column: 6;
  }
}

@media (min-width: 1200px) {
  .header__content-inner {
    gap: 0px var(--header-gap-lg);
  }

  .header__logo-wrapper:has(+ .header__search),
  .header__logo-wrapper:has(+ .header__cart),
  .header__logo-wrapper:has(+ .header__search + .header__cart),
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search),
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__cart),
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search + .header__cart) {
    padding-right: 22px;
  }
}
