.support {
  --support-justify-content: flex-start;
  --support-item-padding: 0 0 16px;
  --support-dropdown-padding: 0 0 40px;
  --support-opener-displaying: none;
  --support-dropdown-position: static;
  --support-dropdown-events: all;
  --support-dropdown-opacity: 1;
  --support-dropdown-visibility: visible;
  --support-dropdown-border: none;
  --support-dropdown-border-radius: 0;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: var(--support-justify-content);
}

.support__opener {
  display: var(--support-opener-displaying);
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
  cursor: pointer;
}

.support__opener .icon {
  font-size: 22px;
}

.support__icon {
  margin-right: 8px;
  color: var(--color-outline);
}

.support__wrapper {
  padding: var(--support-dropdown-padding);
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--transition-function-ease-in-out);
  transition-property: visibility, opacity;
}

.support:has(.support__opener) .support__wrapper {
  position: var(--support-dropdown-position);
  top: calc(100% + 8px);
  right: 0;
  pointer-events: var(--support-dropdown-events);
  visibility: var(--support-dropdown-visibility);
  opacity: var(--support-dropdown-opacity);
  z-index: 1;
  background: var(--background-primary);
  border: var(--support-dropdown-border);
  border-radius: var(--support-dropdown-border-radius);
  padding: var(--support-dropdown-padding);
}

.support:has(.support__opener) .support__item:not(:empty) {
  padding: var(--support-item-padding);
  white-space: nowrap;
}

.support #support-opener:checked ~ .support__wrapper {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

.loaded .support__wrapper {
  display: block !important;
}

@media (min-width: 1100px) {
  .support {
    --support-justify-content: center;
    --support-dropdown-padding: 16px;
    --support-dropdown-position: absolute;
    --support-item-padding: 8px;
    --support-opener-displaying: block;
    --support-dropdown-events: none;
    --support-dropdown-opacity: 0;
    --support-dropdown-visibility: hidden;
    --support-dropdown-border: 1px solid var(--color-border);
    --support-dropdown-border-radius: var(--border-radius-block);
  }
}

@media (hover: hover) {
  .support__opener:hover {
    color: var(--color-outline);
  }
}
