.app__wrapper {
  color: var(--color-primary);
  background: var(--background-primary);
}

.app__wrapper--padding-top {
  padding-top: var(--padding-top-mobile);
}

.app__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile);
}

.app__preview {
  height: 200px;
  border-radius: var(--border-radius-block);
  background-image: repeating-linear-gradient(
    315deg,
    var(--background-primary),
    var(--background-primary) 6px,
    var(--color-border) 6px,
    var(--color-border) 7px
  ) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer__preview span {
  padding: 8px 12px;
  background-color: var(--background-primary);
  color: var(--color-primary);
}

.accessibe-widget {
  justify-content: flex-start !important;
}

.accessibe-widget .accessibe-widget__wrapper {
  align-items: center;
}

.accessibe-widget .accessibe-widget__label {
  padding-left: 4px;
}

.accessibe-widget .accessibe-widget__label,
.accessibe-widget .accessibe-widget__icon path {
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

.accessibe-widget .accessibe-widget__icon,
.accessibe-widget .accessibe-widget__label {
  color: var(--color-primary) !important;
}

.accessibe-widget .accessibe-widget__icon path {
  fill: var(--color-primary) !important;
}

.weglot-widget__wrapper .weglot-widget__label {
  gap: 0px !important;
}

.weglot-widget__wrapper .weglot-widget__label:has(.weglot-widget__currentlang:not(:empty)) {
  gap: 5px !important;
}

.weglot-widget {
  justify-content: flex-start !important;
}

.weglot-widget__wrapper {
  border-color: var(--color-border) !important;
  border-radius: var(--border-radius-badge) !important;
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

.weglot-widget__wrapper .weglot-widget__label,
.weglot-widget__item {
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

.weglot-widget__dropdown {
  left: 0 !important;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-badge) !important;
  box-shadow: 0 0 8px var(--color-border) !important;
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

.weglot-widget__dropdown--up {
  top: auto !important;
  bottom: calc(100% + 11px) !important;
}

.weglot-widget__dropdown--down {
  bottom: auto !important;
  top: calc(100% + 11px) !important;
}

.weglot-widget__dropdown:before,
.weglot-widget__dropdown:after {
  content: "";
  position: absolute;
  left: 20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

.weglot-widget__dropdown--up:before,
.weglot-widget__dropdown--up:after {
  top: 100%;
  border-width: 10px 10px 0 10px;
  border-color: var(--background-primary) transparent transparent transparent;
}

.weglot-widget__dropdown--up:before {
  top: calc(100% + 1px);
  border-color: var(--color-border) transparent transparent transparent;
}

.weglot-widget__dropdown--down:before,
.weglot-widget__dropdown--down:after {
  bottom: 100%;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--background-primary) transparent;
}

.weglot-widget__dropdown--down:before {
  bottom: calc(100% + 1px);
  border-color: transparent transparent var(--color-border) transparent;
}

.weglot-widget__item span {
  white-space: nowrap;
}

.footer__app .weglot-widget__dropdown {
  left: 50% !important;
  transform: translate(-50%, 0);
}

@media (min-width: 992px) {
  .app__wrapper--padding-top {
    padding-top: var(--padding-top);
  }

  .app__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }

  .header__app [data-short-names="true"] {
    width: auto !important;
  }

  .header__app .accessibe-widget__icon {
    width: var(--header-icon-width);
    height: var(--header-icon-height);
  }

  .header__app .weglot-widget__label {
    color: var(--color-primary) !important;
    width: var(--header-icon-width);
    height: var(--header-icon-height);
  }

  .header__app .weglot-widget__wrapper {
    border-radius: var(--border-radius-badge) !important;
    padding: 0 !important;
    border: none !important;
  }

  .header__app .weglot-widget__dropdown {
    left: 50% !important;
    transform: translate(-50%, 0);
    border: 1px solid var(--color-border) !important;
    border-radius: var(--border-radius-badge) !important;
    transition: all var(--animation-duration) var(--transition-function-ease-in-out);
    background-color: var(--background-primary) !important;
    box-shadow: 0 0 8px var(--color-border) !important;
  }

  .header__app .weglot-widget__dropdown--up,
  .header__app .weglot-widget__dropdown--down {
    top: calc(100% + 11px) !important;
    bottom: auto !important;
  }

  .header__app .weglot-widget__dropdown:before,
  .header__app .weglot-widget__dropdown:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: 0px;
    border-style: solid;
    transition: all var(--animation-duration) var(--transition-function-ease-in-out);
  }

  .header__app .weglot-widget__dropdown--up:before,
  .header__app .weglot-widget__dropdown--up:after,
  .header__app .weglot-widget__dropdown--down:before,
  .header__app .weglot-widget__dropdown--down:after {
    top: auto;
    bottom: 100%;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--background-primary) transparent;
  }

  .header__app .weglot-widget__dropdown--up:before,
  .header__app .weglot-widget__dropdown--down:before {
    top: auto;
    bottom: calc(100% + 1px);
    border-color: transparent transparent var(--color-border) transparent;
  }

  .header__app .weglot-widget__item {
    transition: all var(--animation-duration) var(--transition-function-ease-in-out);
    color: var(--color-primary) !important;
    padding: 5px 8px;
  }
}

@media (hover: hover) {
  .accessibe-widget__wrapper:hover .accessibe-widget__icon path {
    fill: var(--color-outline) !important;
  }

  .accessibe-widget__wrapper:hover .accessibe-widget__label {
    color: var(--color-outline) !important;
  }

  .weglot-widget__wrapper:hover,
  .weglot-widget__dropdown:hover {
    border-color: var(--color-outline) !important;
  }

  .weglot-widget__wrapper:hover .weglot-widget__label,
  .weglot-widget__item:hover {
    color: var(--color-outline) !important;
  }

  .weglot-widget__dropdown--up:hover:before {
    border-color: var(--color-outline) transparent transparent transparent;
  }

  .header__app .weglot-widget__dropdown--up:hover:before,
  .weglot-widget__dropdown--down:hover:before {
    border-color: transparent transparent var(--color-outline) transparent;
  }
}
