.articles__wrapper {
  --article-min-width: 280px;
  --content-align: center;
  --indent-xs: 16px;
  --indent-sm: 24px;
  --indent-md: 32px;
  --indent-xl: 40px;
  --image-ratio: 1 / 0.84;

  position: relative;
  color: var(--color-primary);
  background: var(--background-primary);
}

.articles__wrapper--padding-top {
  padding-top: var(--padding-top-mobile);
}

.articles__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile);
}

.articles__top {
  text-align: var(--content-align);
  padding-bottom: var(--indent-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.articles__description {
  color: var(--color-secondary);
}

.articles__buttons {
  text-align: var(--content-align);
  padding-top: var(--indent-xl);
  margin-bottom: calc(-1 * var(--button-margin-bottom));
}

.articles__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--article-min-width), 1fr));
  gap: var(--indent-sm);
}

.article {
  display: grid;
  grid-template-rows: max-content 1fr;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-block);
  overflow: hidden;
}

.article__image-wrapper {
  aspect-ratio: var(--image-ratio);
  position: relative;
}

.article__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: none;
}

.article__text-area {
  padding: 28px 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--color-secondary);
}

.article__tag {
  font-size: calc(var(--font-size-regular) - 2px);
  font-weight: var(--font-weight-regular);
  padding: 4px 8px;
  margin-bottom: 18px;
  letter-spacing: 0;
  color: var(--color-accent);
  background: var(--background-accent);
  border-radius: var(--border-radius-badge);
  align-self: flex-start;
}

.article__heading {
  margin-bottom: var(--indent-xs);
}

.article__text:not(:last-child) {
  margin-bottom: 24px;
}

.article__buttons {
  margin-bottom: calc(-1 * var(--button-margin-bottom));
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
}

.article__button,
.article__button:hover {
  color: var(--color-primary);
}

.article__button path {
  fill: var(--color-primary);
}

@media (min-width: 768px) {
  .articles__wrapper {
    --article-min-width: 320px;
  }
}

@media (min-width: 992px) {
  .articles__wrapper {
    --indent-xs: 8px;
    --indent-sm: 30px;
    --indent-md: 16px;
    --image-ratio: 1 / 0.57;
  }

  .articles__wrapper .articles__top:has(.articles__buttons) {
    --content-align: left;
  }

  .articles__wrapper--padding-top {
    padding-top: var(--padding-top);
  }

  .articles__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }

  .articles__tag {
    grid-area: tag;
  }

  .articles__description {
    padding-bottom: var(--indent-sm);
    grid-area: text;
  }

  .articles__buttons {
    grid-area: button;
  }

  .articles__title {
    position: relative;
    grid-area: title;
  }

  .articles__title:after,
  .articles__title:before {
    content: "";
    background: var(--color-border);
    height: 1px;
    width: clamp(50px, 11vw, 200px);
    right: calc(100% + 16px);
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;
  }

  .articles__title:after {
    left: calc(100% + 16px);
    right: auto;
  }

  .articles__top:has(.articles__buttons) {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-areas:
      "tag ."
      "title button"
      "text .";
  }

  .articles__top:has(.articles__buttons) .articles__title:after,
  .articles__top:has(.articles__buttons) .articles__title:before {
    display: none;
  }

  .articles__top:has(.articles__buttons) .articles__buttons {
    padding: 0 0 0 var(--indent-sm);
  }
}

@media (min-width: 1200px) {
  .articles__grid {
    grid-template-columns: repeat(var(--grid-element), minmax(var(--item-min-width), 1fr));
  }
}
