.header {
  position: relative;
  z-index: 1001;
  margin-top: var(--preview-height, 0px) !important;
  width: 100%;
}

.header-sticky {
  position: fixed;
  top: var(--header-transform, 0px);
  left: 0;
  right: 0;
	transition: top var(--animation-duration) var(--transition-function-ease-in-out);
}

.header__content {
  color: var(--color-primary);
  background: var(--background-primary);
  border-bottom: 1px solid var(--color-border);
}

.header__content--padding-top {
  padding-top: var(--padding-top-mobile);
}

.header__content--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile);
}

.header__logo-wrapper {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header__logo-wrapper:not(:last-child) {
  padding-right: 16px;
}

.header__logo-text {
  font-size: 24px;
  line-height: var(--font-height-md);
  font-weight: var(--font-weight-semibold);
  margin: 0;
  color: currentColor;
}

.header__logo-image {
  max-height: 64px;
  max-width: 100%;
  width: auto;
}

.header__cart {
  min-width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__cart .fa-spinner-third {
  color: var(--color-primary);
}

.header__content-inner {
  gap: 0px 8px;
  display: flex;
  align-items: center;
}

.header__content-inner > .header__extra-menu {
  display: none;
}

.header__content-inner .header__cart:last-child,
.header__content-inner.header__mobile-menu-opener-left .header__cart:nth-last-child(2) {
  margin-right: -7px;
}

.header__mobile-menu-opener-left .header__logo-wrapper {
  order: 3;
  justify-content: center;
}

.header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__menu) {
  padding-left: 10px;
  padding-right: calc(var(--header-icon-width) + var(--header-gap-sm) + 10px);
}

.header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search),
.header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__cart) {
  padding-left: 2px;
  padding-right: 10px;
}

.header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search + .header__cart) {
  padding-left: calc(var(--header-icon-width) + var(--header-gap-sm) + 2px);
  padding-right: 10px;
}

.header__mobile-menu-opener-left .header__menu {
  order: 2;
}

.header__mobile-menu-opener-left .header__search {
  order: 4;
}

.header__mobile-menu-opener-left .header__cart {
  order: 5;
}

header:has(.app-mobile) .header__app:has(.app-desktop) {
  display: none;
}

.header__app:has(.app-mobile) {
  display: block;
  padding: 20px 0 50px;
}

@media (min-width: 992px) {
  .header__content--padding-top {
    padding-top: var(--padding-top);
  }

  .header__content--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }

  .header__content-inner {
    gap: 0px var(--header-gap-md);
  }

  .header__logo-wrapper,
  .header__mobile-menu-opener-left .header__logo-wrapper {
    justify-content: flex-start;
    order: 1;
  }

  .header__logo-wrapper:has(+ .header__search),
  .header__logo-wrapper:has(+ .header__cart),
  .header__logo-wrapper:has(+ .header__search + .header__cart),
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search),
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__cart),
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search + .header__cart) {
    padding-left: 0;
    padding-right: 0;
  }

  .header__menu,
  .header__mobile-menu-opener-left .header__menu {
    order: 2;
    display: inline-flex;
    justify-content: flex-start;
  }

  .header__search,
  .header__mobile-menu-opener-left .header__search {
    order: 3;
  }

  .header__extra-menu,
  .header__mobile-menu-opener-left .header__extra-menu {
    order: 4;
  }

  .header__cart,
  .header__mobile-menu-opener-left .header__cart {
    order: 6;
  }

  .header__content-inner.header__mobile-menu-opener-right .header__cart:nth-last-child(2) {
    margin-right: -7px;
  }

  .header__content-inner:has(.header__menu) .header__logo-wrapper,
  .header__content-inner:has(.header__search) .header__logo-wrapper {
    flex-grow: 0;
  }

  .header__content-inner:has(.header__menu) .header__menu {
    flex-grow: 1;
  }

  .header__content-inner:has(.header__search) .header__menu {
    flex-grow: 0;
  }

  .header__content-inner:has(.header__search) .header__search {
    flex-grow: 1;
  }

  .header__content-inner > .header__extra-menu {
    display: block;
  }

  .header__app:has(.app-desktop) {
    order: 5;
    margin-left: 8px;
  }

  .header__app:has(.app-mobile) {
    display: none;
  }

  header:has(.app-mobile) .header__app:has(.app-desktop) {
    display: block;
  }
}

@media (min-width: 1200px) {
  .header__content-inner {
    gap: 0px var(--header-gap-lg);
  }

  .header__logo-wrapper:has(+ .header__search),
  .header__logo-wrapper:has(+ .header__cart),
  .header__logo-wrapper:has(+ .header__search + .header__cart),
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search),
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__cart),
  .header__mobile-menu-opener-left .header__logo-wrapper:has(+ .header__search + .header__cart) {
    padding-right: 22px;
  }
}
