.logos__wrapper {
  --horizontal-indent: var(--horizontal-padding-mobile);
  --images-gap: 32px;
  --images-max-height: 100px;
  --title-display: block;
  --title-indent: 32px;

  background: var(--background-primary);
}

.logos__container .logos__wrapper {
  border-radius: var(--border-radius-block);
}

.logos__wrapper--border {
  border: 1px solid var(--color-border);
}

.logos__wrapper--padding-top {
  padding-top: var(--padding-top-mobile);
}

.logos__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile);
}

.logos__title {
  margin-bottom: var(--title-indent);
  text-align: center;
  color: var(--color-primary);
  font-size: var(--font-size-tagline);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-height-sm);
  letter-spacing: var(--font-spacing-xl);
  display: none;
}

.logos__title--mobile {
  display: var(--title-display);
}

.logos__container .logos__wrapper .logos__title,
.logos__container .logos__wrapper .logos__images {
  padding-left: var(--horizontal-indent);
  padding-right: var(--horizontal-indent);
}

.logos__images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--images-gap);
}

.logos__images-wrapper img {
  max-height: var(--images-max-height);
  width: auto;
  margin: 0 auto;
}

.logos__image-placeholder,
.logos__image-wrapper:has(.logos__image-placeholder) .logos__image {
  height: 46px;
}

@media (min-width: 992px) {
  .logos__wrapper {
    --horizontal-indent: var(--horizontal-padding);
    --images-gap: 52px;
    --images-max-height: 150px;
    --title-display: none;
    --title-indent: 50px;
  }

  .logos__wrapper--padding-top {
    padding-top: var(--padding-top);
  }

  .logos__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }

  .logos__title--desktop {
    display: block;
  }

  .logos__images-wrapper {
    padding: 0;
  }
}
